*{margin: 0; padding: 0;} 

* {
    /* border-box indique au navigateur de
     tenir compte de toute bordure et remplissage 
     dans les valeurs que vous spécifiez pour la largeur 
     et la hauteur d'un élément. */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ==== Navbar ==== */
body {
    font-family: 'Oswald', sans-serif;
}

#Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
 /*    position: fixed; */
    top: 0;
    z-index: 999;
    left: 0;
    width: 100%;
    
}
/* ================ */

/* ====== Logo  ====== */

.LogoNav {
    padding-left: 20px;
    font-size: 40px;
    color: rgb(252, 252, 252);
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

/* ================ */

/* ==== Menu Burger ==== */
/* Custom de mon burger les lignes */
 .line {
    display: block;
    width: 40px;
    height: 4px;
    background-color: silver;
    margin-bottom: 7px;
}

.MenuBurger {
    padding-right: 20px;
    cursor: pointer;
}

/* ================== */

/* ==== Menu Du Site ==== */

/* Détacher le menu pour le responsive */
.NavMenu {
    position: fixed;
    width: 94%;
    top: 80px;
    left: 18px;
    z-index: 999;
    background-color: lightblue;
}

/*  Donner du style aux a ( menu de la navbar ) */
.NavMenu   a {
    display: block;
    text-align: center ;
    padding: 10px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.NavMenu  a:hover {
    color: #C7A17A;
}

/* Cacher le menu */
.cacher {
    display: none;
}

.affichageMenu {
    display: block;
}
button {
    background-color: rgba(255, 235, 205, 0);
    border: #f9f9fb solid 1px;
    padding: 10px 20px 10px 20px;
    color: white;
}
.buttonjaune {
    background-color: #C7A17A;
    border: #C7A17A;
    
}

@media  screen and (min-width : 769px) {
    .NavMenu {
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;

    }

    .NavMenu a {
        display: inline-block;
        padding: 15px 20px;
        color: rgb(252, 249, 249);
    }
    .MenuBurger {
        display: none;
    }

}

/* ============================================================ */
.sectionTrois {
    background-color: #c4bcbc;
}
/* ============================== HEADER ======================== */

#HeaderAccueil{
    height: 100vh;
    width: 100%;
    background-image: url("image/imagecafe/photocafe00005.jpg");
    background-size: cover;   
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
  
}

#HeaderAccueil::before{
    background-color: rgba(0, 0, 0, 0.37);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }

.TextHeaderAccueil {
  text-align: center;
    color: #f9f9fb;
    position: absolute;
    top: 40%;
    left: 10%;
    
  transform: translate(-50px, -140px); 
}
.imagelogo {
    width: 30%;
} 


p {
    margin-top: 0;
    margin-bottom: 5px !important;
}

button {
    background-color: #C7A17A;
    transition: 0.4s;
}

button:hover {
    background-color: #f9f9fb;
    color: black;
}



/* ============================ */


span {
    margin-right: 10px;
    font-size: 20px; 
}
.cover-shop-cafe {
    display: flex;
}

img {
    max-width: 100%;
    height: auto;
}
.photo {

    width: 250px;
    height: 250px;
    background-color: #F5F5F5;
    margin: 20px;
    border: 1px solid #F5F5F5 ;
    display: block;
    border: 2px solid #F5F5F5;
    border-radius: 25px;
    
}

/* Animation layer photo------ */
.layerbig{
    width: 100%;
    height: 100%;
    position: relative;
    }
    
    .layer {
        width: 100%;
        height:100%; 
    }
    .layer1 {
        width: 250px;
        height:250px;
        background-color: black;
        opacity: 0;
        top: 0;
        left: 0;
        position: absolute;
        transition: 0.4s;
        border: 2px solid rgba(113, 111, 108, 0);
        border-radius: 25px;
    }
    .layerbig:hover .layer1 {
        opacity: 40%;
    }
.Tarif p {
     color: black;
}

.Tarif p:first-child {
    color:black;
}
.Tarif p:nth-child(2) {
    color:#C7A17A;
}
.Tarif p:nth-child(3) {
    color:#C7A17A;
}
.Tarif p:last-child(1) {
    font-weight: bold;
    color:#C7A17A;
}

/* columme Right ======================================= */
/* .sectionDeux {
    display: flex;
} 
 */
/* =========================================================== */
img.Photosmall {
    width: 20%;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
}
.photostyle {
    transition: 0.4s;
}
.photostyle img:hover {
    border: 1px solid #161616;
}


/* button */

.ajouter {
    color: white;
    background-color: black;
}
.ajouter:hover {
    background-color: #c4bcbc;
}
.Favorite:hover {
    background-color: #c4bcbc;
}
br {
    margin-bottom: 20px;
}

.sectionTrois{
    overflow-x: scroll;
}


/* =============================footer  =====================*/

footer {
    background-color: black;
    color: #f9f9fb;
}

footer img {
    width: 200px;
    
}
/* menu navbar  */